//Variables
//Fuentes
$main-font: 'Roboto', sans-serif;

//Colores
$Principal: #f46669;
$Secundario: #c7c57d;
$Gris: #f5f5f5;
$Negro: #000000;
$Blanco: #ffffff;

//Separación
$separation: 5rem;



//Media-queries
$small: 480px;
$medium: 768px;
$big: 1024px;

