@use '../base/vars' as v;
@use '../base/mixins' as m;
@use '../base/globals';


.clases {
    background-color: v.$Gris;

    &__title {
        text-align: center;
        padding-top: 100px;
    }

    &__icon {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    &__grid {
        @include m.crear-grid(1, $gap: 10px); 
        margin: 0 auto;
    
        @include m.desktop {
        @include m.crear-grid(3, $gap: 10px); 
           
            } 
    }

    &__card {
        overflow: hidden;
    }

    &__image {
        transition: transform 0.5s;
        transform: scale(100%);

        &:hover {
            transform: scale(140%);
        }
    }

    &__head {
        background-color: v.$Principal;
        display: flex;
        justify-content: space-between;
        color: v.$Blanco;
        padding: 10px;
    }

    &__content {
        padding: 20px;
    }

    &__boton {
        background-color: v.$Principal;
        color: v.$Blanco;
        font-size: bold;
        padding: 15px;
        width: 100%;
        margin: 0 auto;
        border: none;
    }


}